{% extends "base.html.twig" %}
{% block title %}
	Actor
{% endblock %}
{% block head %}{% endblock %}

{% block content %}

	{% for actor in actor1 %}
		<div class="card m-2 text-center shadow-sm">
			<div class="card-body">
				<h5 class="card-title">{{actor.first_name}}
					{{actor.last_name}}</h5>
				<a href="/Mvcobjet2/actors/{{actor.id}}" class="btn m-2 btn-dark">Aller sur la fiche</a>
			</div>
		</div>
	{% endfor %}
	<h2 class="text-success">
		{{actor1.first_name}}
		{{actor1.last_name}}
	</h2>
{% endblock %}
